/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
body{
  background-color: #FAEBD7;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #4169E1;
  max-width:900px;
}

h1,h2,h3{
  font-family:Merriweather;
  font-size: 32px;
}
p
{
  text-align: justify;
}
.i1
{
  border-color: palegoldenrod;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}
.i2
{
 float:left; 
 margin:0px 15px 15px 15px;
 max-width: 250px;
}
button{
  background-color: gold;
}
a:hover {
  text-decoration: none;
}
a{
  color:  #593C1F;
}
